JD 2 Project.code-workspace
test.spec
build/test/Analysis-00.toc
build/test/base_library.zip
build/test/EXE-00.toc
build/test/PKG-00.toc
build/test/PYZ-00.pyz
build/test/PYZ-00.toc
build/test/test.exe.manifest
build/test/test.pkg
build/test/warn-test.txt
build/test/xref-test.html
build/test/localpycos/struct.pyo
dist/test.exe
build/test/Tree-00.toc
build/test/Tree-01.toc
build/test/Tree-02.toc
OpenCV Examples/Demo_OpenCV_4_Line_Program.py
OpenCV Examples/Demo_OpenCV_7_Line_Program.py
OpenCV Examples/Demo_OpenCV_Draw_On_Webcam_Image.py
OpenCV Examples/Demo_OpenCV_Simple_GUI.py
OpenCV Examples/Demo_OpenCV_Webcam_ASCII.py
OpenCV Examples/Demo_OpenCV_Webcam_Minimal.py
OpenCV Examples/Demo_OpenCV_Webcam.py
OpenCV Examples/Demo_OpenCV.py
temp_img.png
test.png
data_to_send.txt
